<section
    id="contact"
    class="hide-card w-full h-screen flex items-center justify-between gap-5 snap-end"
>
    <form>
        <input type="text" />
        <input type="text" />
        <input type="text" />
        <textarea> </textarea>
    </form>
</section>
