<section
    id="home"
    class="hide-card w-full h-screen flex items-center justify-center gap-5 snap-center border border-red-500"
>
    <div>
        <img src="profile.jpg" alt="profile photo" class="object-cover w-1/4" />
    </div>
    <div class="flex flex-col justify-center">
        <h1 class="text-4xl font-Poppins font-semibold">
            Maximiliano Arbelais
        </h1>
        <h4 class="text-2xl font-semibold">Full Stack Developer</h4>
        <p>
            Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint
            cillum sint consectetur cupidatat.
        </p>
    </div>
</section>
