---
import Layout from "layouts/Layout.astro";
---

<Layout title="My Portfolio - arbelaism">
    <section class="flex items-center justify-center">
        <h1 class="text-7xl font-extrabold">Hello, I'm Maximiliano.</h1>
    </section>
</Layout>
