---
import Layout from "layouts/Layout.astro";
---

<Layout title="My Portfolio - arbelaism">
    <main id="home">
        <section>Section1</section>
        <section>Projects</section>
        <section>About</section>
    </main>
</Layout>
